body {
  background-color: #433878;
}

#title {
  font-size: 40px;
  color: #ffe1ff;
  display: flex;
  justify-content: center;
}
#form-info {
  display: flex;
  justify-content: center;
  color: aliceblue;
}
#item-text {
  margin: 5px;
}

#add-btn {
  color: aliceblue;
  background-color: #e4b1f0;
  width: 70px;
  height: 30px;
}

#form-search {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin: 30px;
}
#search-text {
  margin: 5px;
}
#search-btn {
  color: aliceblue;
  background-color: #e4b1f0;
  width: 70px;
  height: 30px;
}

#NumberOfTask {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

#items {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.item {
  background-color: #e4b1f0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.mandatory {
  font-weight: bold;
  margin-left: 10px;
  background-color: rgb(174, 69, 69);
  color: #433878;
}

.medium {
  font-weight: bold;
  margin-left: 10px;
  background-color: rgb(247, 197, 105);
  color: #433878;
}

.not-necessary {
  font-weight: bold;
  margin-left: 10px;
  background-color: rgb(85, 148, 85);
  color: #433878;
}

.Delete {
  background-color: #4f1787;
  color: aliceblue;
  margin-left: auto;
}

.Edit {
  background-color: #eb3678;
  color: aliceblue;
  margin-left: 10%;
}

p{
  color: aliceblue;
  display: flex;
  justify-content: right;
font-size: large;
}